body {
  background-color: black;
  text-decoration: none;
  text-align: center;
  color: rgb(184, 1, 1);
  font-family: "Helvetica", sans-serif;
}
div {
    width: 300px;
    border: 25px solid green;
    padding: 50px;
    margin: 20px;
}